.customHeader {
    position: relative;
}

.signOutBtn {
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 1000;
}

.ant-menu-item-selected {
    background-color: transparent !important;
  }