@font-face {
  font-family: BurgerKing;
  src: url(./assets/fonts/Insanibc.ttf);
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url(./assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Futura Extra Black Condensed Italic;
  src: url(./assets/fonts/Futura\ Extra\ Black\ Condensed\ Italic.otf);
}

* {
  margin: 0;
  padding: 0;
  user-select: none !important;
}
body {
  margin: 0;
  font-family: BebasNeue-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auctionHub__cardText {
  font-size: 6vh;
  font-family: BebasNeue-Regular;
  color: #fff;
  font-weight: 400;
}

.auctionHub__cardText_black {
  font-size: 6vh;
  font-family: BebasNeue-Regular;
  color: #fff;
  font-weight: 400;
  color: #000;
}

.auctionDetails .time {
  font-family: BebasNeue-Regular;
  font-size: 3.5rem;
  font-weight: 600;
  color: #f8eb01;
}

.thinText {
  font-size: 2.5vh;
  font-family: BebasNeue-Regular;
  color: #fff;
  font-weight: 100;
  color: #000;
}